- hosts: all
  become: true

  tasks:

    - name: Update apt packages
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: true

    - name: Pull Docker image
      command: docker pull nginx

    - name: Run container
      command: docker run -d -p 80:80 nginx
